body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.content {
/* display: flex;
flex-direction: column;
margin: 0; */
}

nav {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    list-style: none;
    color: #ebe7eb;
    text-decoration: none;
    font-size: 18ps;
}

/* Hero */
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.hero-content, .hero-image {
    flex: 1;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
}

.hero-image-img {
    width: 300px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #ebe7eb;
}

.hero-button {
    background-color: #3882f6;
    color:#ebe7eb;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}